<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>apiKey</name>
            <label>Storefront API Key</label>
            <copyable>true</copyable>
            <helpText>Can be found in Shopgate Admin at "Settings"</helpText>
            <helpText lang="de-DE">Zu finden im Shopgate Admin unter "Einstellungen".</helpText>
        </input-field>

        <input-field type="single-select">
            <name>productCodeMapping</name>
            <label lang="de-DE">Als Product Code verwenden</label>
            <label>Use as product code</label>
            <defaultValue>ean</defaultValue>
            <options>
                <option>
                    <id>ean</id>
                    <name>EAN</name>
                </option>
                <option>
                    <id>product-number</id>
                    <name>Product Number</name>
                    <name lang="de-DE">Produktnummer</name>
                </option>
                <option>
                    <id>product-id</id>
                    <name>Internal Shopware Product ID</name>
                    <name lang="de-DE">Interne Shopware-Produkt-ID</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>apiStage</name>
            <label>Stage</label>
            <defaultValue>production</defaultValue>
            <options>
                <option>
                    <id>production</id>
                    <name>Production</name>
                </option>
                <option>
                    <id>staging</id>
                    <name>Staging</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>saveCustomerData</name>
            <label lang="de-DE">Speicherung von Kundendaten</label>
            <label>Save user data</label>
            <helpText>
                Controls how user data is persisted within the localStorage.
                Can be one of "Off" (data will not be saved),
                "On" (data will be saved in any case),
                "Checkbox" (users can decide via a checkbox on the reservation page)
                "Shopware Consent Manager"
            </helpText>
            <helpText lang="de-DE">
               Legt fest ob und wie die Kundendaten im localstorage persistiert werden. Mögliche Werte sind:
               "Off" (Daten werden nicht gespeichert),
               "On" (Daten werden gespeichert),
               "Checkbox" (Nutzer kann die Option im Formular wählen),
               "Shopware Consent Manager (Nutzer gibt Zustimmung über den Shopware Consent Manager)",
           </helpText>
            <defaultValue>on</defaultValue>
            <options>
                <option>
                    <id>on</id>
                    <name>On</name>
                </option>
                <option>
                    <id>off</id>
                    <name>Off</name>
                </option>
                <option>
                    <id>checkbox</id>
                    <name>Checkbox</name>
                </option>
                <option>
                    <id>consentManager</id>
                    <name>Shopware Consent Manager</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>browserHistory</name>
            <label lang="de-DE">Browser Historie nutzen</label>
            <label>Use browser history</label>
            <helpText>
                If enabled the browsers history will be used within the reservation modal allowing the users to navigate with the native controls. Can be disabled when your store is already using the browsers history internally and the modals history conflicts with it.
            </helpText>
            <helpText lang="de-DE">Erlaubt Nutzern die Benutzung der Browser-Historie zur Navigation im Reservierungs-Prozess. Deaktivieren Sie diese Funktion, falls ihr Theme bereits eine solche Navigation anbietet und dadurch ein Konflikt mit der Plugin-Funktionalität entsteht.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>useGeolocationImmediately</name>
            <label lang="de-DE">Standort sofort abfragen</label>
            <label>Use Geolocation immediately</label>
            <helpText>If enabled, whenever the user opens the store list the browser's geolocation will be requested immediately instead of only after pressing the "locate me" button.</helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert ist, wird der Zugriff auf die Geo-Location sofort nach dem Öffnen der Filial-Übersicht angefragt.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>testMode</name>
            <label lang="de-DE">Testmodus</label>
            <label>Testmode</label>
            <helpText>
                When set to true no buttons will be rendered within the users' browser, until the page was once opened with query parameter "rrTesting=start". The testing session can be terminated by opening the page with "rrTesting=end".
            </helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert wird, werden keine Buttons auf der Produktdetailseite angezeigt. Um die Buttons anzuzeigen, muss der Parameter "rrTesting=start" an die URL angehängt werden. Die Test-Session kann durch den Parameter "rrTesting=end" gestoppt werden.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>unitSystem</name>
            <label lang="de-DE">Einheit</label>
            <label>Units</label>
            <defaultValue>metric</defaultValue>
            <options>
                <option>
                    <id>metric</id>
                    <name>Metric</name>
                </option>
                <option>
                    <id>imperial</id>
                    <name>Imperial</name>
                </option>
            </options>
        </input-field>

        <input-field type="multi-select">
            <name>countries</name>
            <label lang="de-DE">Länder</label>
            <label>Countries</label>
            <helpText>Set the available countries for the store list search</helpText>
            <helpText lang="de-DE">Wählen Sie die verfügbaren Länder für die Filialsuche aus.</helpText>
            <options>
                <option>
                    <id>de</id>
                    <name>de</name>
                </option>
                <option>
                    <id>us</id>
                    <name>us</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>displayType</name>
            <label>Display on product detail page</label>
            <label lang="de-DE">Anzeige auf Produktdetailseite</label>
            <helpText>
                Choose what should be displayed on the product detail page.
                Reservation button - A button that opens a popup with a store list and the availability of the selected product in these stores.
                Availability in store - A box that directly shows the availability of the product in the store.
                The customer has to select a store the first time.
            </helpText>
            <helpText lang="de-DE">Wählen Sie, welche Version der Reservierung genutzt werden soll: "Reservation Button": Es wird ein Button mit der Aufschrift "Reservieren" angezeigt, welcher die Filialsuche öffnet. "Availability in Store": Der Nutzer wählt eine Filiale und es wird immer der lokale Bestand dieser Filiale angezeigt.</helpText>
            <defaultValue>reserveButton</defaultValue>
            <options>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                </option>
                <option>
                    <id>reserveButton</id>
                    <name>Show reservation button</name>
                </option>
                <option>
                    <id>liveInventory</id>
                    <name>Show availability in store</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>renderLiveInventoryMode</name>
            <label lang="de-DE">Filialauswahl</label>
            <label>Store selection</label>
            <helpText>
                Only relevant if "Show availability in store" is selected above. Choose how the customer can select his store.
                Modal - Opens a popup where the customer can search for his store via zip code or geolocation.
                Also shows address, distance and opening hours if available.
                Dropdown - A simple dropdown where the customer can choose the store from. Recommended only for small amount of stores.
            </helpText>
            <helpText lang="de-DE">Nur relevant, wenn oben "Availability in Store" gewählt wurde. Optionen: Modal = PopUp zur Filialauswahl, Dropdown = Dropdown zur Filialauswahl.</helpText>
            <defaultValue>modal</defaultValue>
            <options>
                <option>
                    <id>modal</id>
                    <name>Modal</name>
                </option>
                <option>
                    <id>list</id>
                    <name>Dropdown</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>inventoryHideNumber</name>
            <label>Hide stock</label>
            <label lang="de-DE">Bestand verstecken</label>
            <helpText>Hides the stock number and therefore display only if the product is available or not.</helpText>
            <helpText lang="de-DE">Blendet den tatsächlichen Bestand aus und zeigt nur "Verfügbar" an.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="int">
            <name>inventoryShowExactUntil</name>
            <label lang="de-DE">Exakten Bestand bis X anzeigen</label>
            <label>Show exact inventory until</label>
            <helpText>If inventory is higher than the given number the inventory will be displayed as "X+ Available"</helpText>
            <helpText lang="de-DE">Wenn der Bestand höher als angegeben ist, wird "X+ Verfügbar" angezeigt.</helpText>
        </input-field>

        <input-field type="int">
            <name>inventoryShowLowUntil</name>
            <label lang="de-DE">Niedrigen Bestand bis X anzeigen</label>
            <label>Show low inventory until</label>
            <helpText>If inventory is lower than the given number the inventory will be displayed in the state-warning color</helpText>
            <helpText lang="de-DE">Wenn der Bestand niedriger als angegeben ist, wird "X Verfügbar" in der state-warning Farbe angezeigt.</helpText>
            <defaultValue>5</defaultValue>
        </input-field>

        <input-field type="url">
            <name>termsLink</name>
            <label lang="de-DE">ABG-Link</label>
            <label>Terms Link</label>
            <helpText>Add a URL to the terms and condition page, also enforces the user to accept them before placing a reservation</helpText>
            <helpText lang="de-DE">Fügen Sie eine URL ein, damit der Kunde die AGB vor Abschluss der Reservierung akzeptieren muss.</helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="url">
            <name>privacyLink</name>
            <label>Privacy Link</label>
            <label lang="de-DE">Datenschutz-Link</label>
            <helpText>Add a URL to the privacy page, also enforces the user to accept them before placing a reservation</helpText>
            <helpText lang="de-DE">Fügen Sie eine URL ein, damit der Kunde die Datenschutzerklärung vor Abschluss der Reservierung akzeptieren muss.</helpText>
            <copyable>true</copyable>
        </input-field>
    </card>

    <card>
        <title>Color Configuration</title>
        <title lang="de-DE">Farbeinstellungen</title>
        <input-field type="textarea">
            <name>colors</name>
            <label>Colors</label>
            <helpText>Please use only the 3 numbers of rgb schema. rgb(1,2,3) -> 1,2,3</helpText>
            <helpText lang="de-DE">Bitte nutzen Sie nur die 3 Zahlen des RBG Schemas. rgb(1,2,3) -> 1,2,3</helpText>
            <defaultValue>
                /* Color for common text */
                --rr-color-text: #000;
                /* Color for text with a medium emphasis */
                --rr-color-text-medium-emphasis: #787878;
                /* Primary color used for form elements and buttons */
                --rr-color-primary: #000;
                /* Contrast color for the primary color - used as button text color  */
                --rr-color-primary-contrast: #fff;
                /* Color used for links */
                --rr-color-link: #3c9bb5;
                /* Text color for disabled buttons */
                --rr-color-button-disabled: #7f7f7f;
                /* Background color for disabled buttons */
                --rr-color-button-background-disabled: #E0E0E0;
                /* Color used for alerting texts like errors */
                --rr-color-status-alarm : #b00020;
                /* Color used for highlighting problems like low stock */
                --rr-color-status-warning: #f19c45;
                /* Color used for positive highlighting like successful reservation text */
                --rr-color-status-success: #32ac5c;
                /* Font family for the modal */
                --rr-font-family: inherit
            </defaultValue>
        </input-field>
    </card>

    <card>
        <title>Translations</title>
        <title lang="de-DE">Übersetzungen</title>
        <input-field type="textarea">
            <name>translations</name>
            <label>Translations JSON</label>
            <placeholder>
            {
                "de":{
                    "reserve.submit":"JETZT reservieren"
                },
                "en":{
                    "reserve.submit":"Reserve NOW"
                }
            }
            </placeholder>
            <defaultValue>
            {
                // JSON-formatiert; Zeilen, die mit // beginnen, sind Kommentare und werden ignoriert
                // siehe https://github.com/shopgate/click-and-reserve-shopware6?tab=readme-ov-file#custom-translations
                "de":      {
                    "reserve.submit":"JETZT reservieren"
                },
                // JSON-formatted, any line starting with // is a comments and will be ignored
                // see https://github.com/shopgate/click-and-reserve-shopware6?tab=readme-ov-file#custom-translations
                "en":{
                    "reserve.submit":"Reserve NOW"
                }
            }
            </defaultValue>
        </input-field>
    </card>
</config>
